{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": "off",
        "linebreak-style": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "jest": true
    }
}